.nosotros_portada {
  display: flex;
  position: relative;
}

.nosotros_portada img {
  width: 100%;
  height: 80%;
}
.fondo {
  background-color: rgba(193, 48, 54, 0.5);
  height: 20rem;
  width: 100%;
  position: absolute;
  top: 24.2rem;
}
.sociales {
  position: absolute;
  left: 1rem;
  bottom: 7rem;
  display: flex;
  flex-direction: column;
  height: 15rem;
  width: 4rem;
  padding: 0.8rem;
  background-color: #c13036;
}
.nosotros_portada_texto {
  position: absolute;
  color: #ffffff;
  top: 40%;
  left: 18%;
}
.nosotros_portada_texto h2 {
  font-size: 7rem;
  text-align: center;
  text-shadow: 0px 6.97972px 34.8986px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  margin: 0;
}
.nosotros_portada_texto p {
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}
.swiperItem img {
  width: 100%;
  height: 100%;
}

/* about */

.nosotros_about {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.figura {
  display: flex;
  height: 3rem;
  margin-top: -1.6rem;
  z-index: 2;
  position: absolute;
}
.servis {
  background-color: #c13036;
  width: 15rem;
  padding: 13px 26px;
  margin: 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 0px 0.8rem 1.5rem rgb(0 0 0 / 25%);
}

.servis2 {
  background-color: #5e5e5f;
  width: 10rem;
  padding: 13px 26px;
  margin: 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 0px 0.8rem 1.5rem rgb(0 0 0 / 25%);
}

.triangulo {
  width: 0;
  height: 0;
  border-left: 2rem solid #c13036;
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
}
.triangulo2 {
  width: 0;
  height: 0;
  border-left: 2rem solid #5e5e5f;
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
}
.triangulo_invertido {
  width: 0;
  height: 0;
  border-right: 3.2rem solid transparent;
  border-top: 12.5rem solid #c13036;
  border-bottom: 12.5rem solid #c13036;
}
.triangulo_invertido2 {
  width: 0;
  height: 0;
  border-right: 3.2rem solid transparent;
  border-top: 12.5rem solid #5e5e5f;
  border-bottom: 12.5rem solid #5e5e5f;
}
.empresa {
  width: 100%;
  height: auto;
  display: flex;
}
.empresa_info {
  width: 50%;
  background-color: #c13036;
  padding: 1rem 2rem;
  color: #ffffff;
  text-align: justify;
  position: relative;
}

.empresa_info h3 {
  font-size: 25px;
}

.empresa_info p {
  font-size: 20px;
}

.empresa_info img {
  width: 22%;
  position: absolute;
  right: 2rem;
  bottom: 0rem;
}
.empresa_info2 {
  width: 50%;
  background-color: #5e5e5f;
  padding: 2rem;
  color: #ffffff;
}

.empresa_info2 h3 {
  font-size: 25px;
}

.empresa_info2 p {
  font-size: 20px;
}

.empresa_info2 img {
  width: 25%;
  position: absolute;
  right: 2rem;
}

.empresa_info .certified,
.empresa_info2 .certified {
  font-weight: bold;
}
.empresa_img {
  width: 50%;
  height: 25rem;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

/* 
 */
.pmv {
  background-color: #c13036;
  width: 100%;
  margin: 0 auto;
  display: flex;
  text-align: justify;
  justify-content: space-between;
}
.pmv_item {
  width: calc(100% / 3);
  padding: 1rem;
  color: #ffffff;
  text-align: center;
}

.pmv_item p {
  text-align: justify;
}

.pmv__imgs {
  max-width: 1200px;
  margin: 0 auto 3rem auto;
  display: flex;
  width: 100%;
}
.pmv__imgs img {
  width: calc(100% / 3);
  height: 20rem;
}
@media (min-width: 600px) and (max-width: 800px) {
}
@media (max-width: 600px) {
  .nosotros_portada {
    flex-direction: column;
  }
  .nosotros_portada_texto h2 {
    font-size: 2rem;
    text-align: left;
  }
  .nosotros_portada_texto p {
    font-size: 0.8rem;
    text-align: left;
  }
  .sociales {
    display: none;
  }
  .empresa {
    display: flex;
    flex-direction: column;
  }
  .empresa_info {
    width: 100%;
  }

  .empresa_info img {
    display: none;
  }

  .triangulo_invertido {
    display: none;
  }
  .empresa_img {
    width: 100%;
  }
  .empresa_img img {
    width: 100%;
  }
  .empresa_info2 {
    width: 100%;
  }
  .pmv {
    flex-direction: column;
    align-items: center;
  }

  .pmv_item {
    width: 100%;
    padding: 1rem;
    color: #ffffff;
    text-align: center;
  }

  .pmv_item p {
    text-align: justify;
  }

  .pmv__imgs {
    display: none;
  }
}
